<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mobile.actdresses"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC" />    
    
    <uses-sdk android:minSdkVersion="14" />
    
    <uses-feature android:name="android.software.live_wallpaper" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    
    <application android:icon="@drawable/blueheart" android:label="@string/app_name">
        <activity android:name=".MobileActDresses"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelloActivity">
        </activity>
        
		<service android:enabled="true" android:name=".MADService">
		    <intent-filter>
				<action android:name="android.nfc.action.TAG_DISCOVERED"/>				
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter> 
		</service>
		
		<!-- Live Wallpaper Service -->
<!--     	<service    	    -->
<!--             android:name="mobile.actdresses.LiveWallpaper" -->
<!-- 			android:enabled="true" -->
<!-- 			android:icon="@drawable/blueheart" -->
<!-- 			android:label="@string/app_name" -->
<!-- 			android:permission="android.permission.BIND_WALLPAPER"> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.service.wallpaper.WallpaperService" /> -->
<!--             </intent-filter> -->
            
<!--             <meta-data -->
<!--             	android:name="android.service.wallpaper"  -->
<!--             	android:resource="@xml/wallpaper" /> -->
<!--         </service> -->
        
        <!-- Live Wallpaper Settings Activity -->
<!--         <activity -->
<!--         	android:label="@string/wallpaper_settings" -->
<!--         	android:name="mobile.actdresses.LiveWallpaperSettings" -->
<!--         	android:theme="@android:style/Theme.Light.WallpaperSettings" -->
<!--         	android:exported="true"> -->
<!--             <intent-filter> -->
<!--       			<action android:name="android.intent.action.MAIN"> -->
<!--       			</action> -->
<!--     		</intent-filter> -->
<!--         </activity> -->
        
        <!-- Live Wallpaper Main Activity -->
<!--         <activity android:name=".MainActivity" -->

<!--                   android:label="@string/app_name_short" -->
<!--                   android:theme="@android:style/Theme.Translucent.NoTitleBar"> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->
        
        <!-- Live Wallpaper Main Activity -->
        <activity android:name=".MainActivityNFC"

                  android:label="@string/app_name_short"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.ACTIVITY" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.nfc.action.TAG_DISCOVERED"/>				
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
        </activity>
		
		
    </application>
    

</manifest> 